@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

body {
  font-family: "Acme", sans-serif;
  background-color: rgb(158, 141, 119);
}
